/* .list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  } */
  .edit{
    font-size:.9rem;
    background-color: rgb(25, 6, 110);
    color: #ffffff;
  }
  .plist{
    border-bottom: 1px solid #000000;
  }