<div class="row justify-content-center">
  <div class="col-10">
    <div class="input-group my-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName()"
        >
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="col-10 col-sm-4 col-md-5 col-lg-6 my-3 list">
    <h5>Product List</h5>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let product of products; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(product, i)"
        
      >
      {{ product.name}}
        
    </li>
    </ul>

    <button class="my-3 btn btn-danger btn-block" (click)="removeAllProducts()">
      Remove All
    </button>
  </div>
  <div class="col-10 col-md-6 col-lg-6 my-3">
    <h5>Details:</h5>
    <div>
      <label><strong>Name:</strong></label> {{currentProduct.name}}
    </div>
      <div>
        <label><strong>Price:</strong></label> {{currentProduct.price}}
      </div>
      
      
      <a
      class="btn btn-primary btn-block"
      routerLink="/productdet/{{ currentProduct.id }}"
    >
      Edit
    </a>
    
  </div>
</div>
    

  