<div class="container d-flex justify-content-center align-items-center">
    <div>
        <h3 class="t">Your order has been placed!!!</h3>
    </div>
    <div class="col-8 col-sm-4 col-md-4 col-lg-4 ">
        <div class="imgwrapper">
            <img class="img-fluid" src="https://s3-alpha-sig.figma.com/img/3b8d/4489/a8630d4cbe1bd74835d55807c01d14d2?Expires=1658102400&Signature=AZah6xzBCJmdP4iCu3Q678tweg07ceUvz7x~6RVXeGmoPIAt8t18tmlsA0tx6RVMhK7Kb4J~elT9ijJapmGk28fFzFcLDm5SnsF-n~hzmb9YehW32-U9-~liW34RsRhlYnxzQ6RlJ4ohbU~vK9BYSteubSPEE4k7L73-Ln-9XPuoKjyZG6jdV4GARi5z08VLWKwXXlePo9jM9ogog70tOAY1g24RoRd9AHee2Na-RX19tir0PwtCwNzHBNP0vdfr7xBugIhqdHHfJWeuY0QwOFAKkdidAyV6ZO5kKbWrUAzuUkkQ~AQZCgEidUGPQvpYrFNIn3qisTUCNFuJClsFcw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
        </div>
        
    </div>

    <div class="col-8 m-4 text-center">
        <h5>
            Your order has been placed successfully.
            You will be informed when order is ready. 
        </h5>
        
        <h5 class="my-3">Do visit us again.</h5>
        

        <a routerLink="/home"><input type="button" class="btn btn-primary" value ="continue shopping"/></a>
    </div>


<div class="ball-1"></div>
<div class="ball-2"></div>
<div class="ball-3"></div>
<div class="ball-4"></div>
    
</div>